<h1>Blog On Railzzzzz</h1>

<% @entries.each do |entry| %>
  <li><h3><%= entry.name %></h3></li>
  <%= entry.content %>
  <%= entry.entry_tags %>
<% end %><br><br>

<%= link_to "Add a new entry!", new_entry_path %>
